<ion-header>
  <ion-navbar color="{{color}}">
    <ion-title>Level {{level}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="initBoard()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <div *ngIf="board && checkFull()" class="nextlvl" [class.yellow]="color === 'red'" [class.red]="color === 'yellow'">
    <span class="lvlcomplete">Level Complete</span>
    <div class="container">
      <div class="square black red">
      <div class="square yellow">
      <div class="square black red">
      <div class="square yellow">
      <div class="square black red">
      <div class="square yellow">
      <div class="square black red">
      <div class="square yellow">
      <div class="square black red">
      <div class="square yellow">
      <div class="square black red">
      <div class="square yellow">
      <div class="square black red">
      <div class="square yellow">
      <div class="square black red">
      <div class="square yellow">
      <div class="square black red">
      <div class="square yellow">
      <div class="square black red">
      <div class="square yellow">
      <div class="square black red">
      <div class="square yellow">
      <div class="square black red">
      <div class="square yellow">
      <div class="square black red">
      <div class="square yellow">
      <div class="square black red">
      <div class="square yellow">
      <div class="square black red">
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
    </div>
    <span class="nextlevelbtn" (click)="nextLevel()">
      <span>Next Level</span>
      <ion-icon name="arrow-forward"></ion-icon>
    </span>
  </div> -->
  <div *ngIf="board" class="board">
    <div *ngFor="let row of board; let i = index;" class="row">
      <div *ngFor="let cell of row let j = index;" class="cell {{board[i][j]}}" (click)="newMove(j)"></div>
    </div>
  </div>
</ion-content>
